

<!DOCTYPE html>
<html>

<head>
    <title>Apresentação: Manutenção e Indicadores de Desempenho</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

    <body class="container mt-4">

        <script src="three.js"></script>
        <script type="module" src="three.module.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/mathjs@9.4.4/lib/browser/math.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js"></script>
    


        <center>
            <div class="p-3 mb-2 bg-danger text-white">
                Normas regulamentadoras
            </div>
            <form action="/pagina_manutencao" method="GET">
                <button type="submit" class="btn btn-success">IR PARA PÁGINA DE MANUTENÇÃO</button>
            </form>
            <p class="text-white-50">
                Clique no botão acima e será direcionado a página de manutenção!
            </p>
        </center>



      <div>
          <h2>Normas Regulamentadoras (NRs)</h2>
          <p>As Normas Regulamentadoras (NRs) são um conjunto de regulamentos e diretrizes de segurança e saúde no trabalho emitidas pelo Ministério da Economia do Brasil, através da Secretaria Especial de Previdência e Trabalho. Elas são voltadas para a proteção dos trabalhadores e a prevenção de acidentes e doenças ocupacionais. Até a minha última atualização em setembro de 2021, existiam 36 NRs. No entanto, é importante verificar se houve alguma alteração ou inclusão de novas NRs após essa data.</p>
          <!-- Lista das NRs -->
          <ul>
            <li><strong>NR 1</strong> - Disposições Gerais: Define as obrigações de empregadores e empregados em relação à segurança e saúde no trabalho.</li>
            
            <li><strong>NR 2</strong> - Inspeção Prévia: Regula a realização de inspeções antes da abertura de estabelecimentos.</li>
            
            <li><strong>NR 3</strong> - Embargo ou Interdição: Estabelece os procedimentos para o embargo ou interdição de locais de trabalho com riscos graves e iminentes.</li>
    
            <li><strong>NR 4</strong> - Serviços Especializados em Engenharia de Segurança e em Medicina do Trabalho (SESMT): Define as 
            obrigações das empresas em relação aos serviços de engenharia de segurança e medicina do trabalho.</li>
            
            <li><strong>NR 5</strong> - Comissão Interna de Prevenção de Acidentes (CIPA): Regula a formação e atuação das CIPAs nas empresas.</li>
    
           <li><strong>NR 6</strong> - Equipamento de Proteção Individual (EPI): Estabelece os requisitos para uso, fornecimento, treinamento e responsabilidades relacionadas a EPIs.</li>
    
           <li><strong>NR 7</strong> - Programa de Controle Médico de Saúde Ocupacional (PCMSO): Regulamenta a realização de exames médicos ocupacionais.</li>
    
            <li><strong>NR 8</strong> - Edificações: Define requisitos de segurança nas edificações industriais.<li>
    
           <li><strong>NR 9</strong> - Programa de Prevenção de Riscos Ambientais (PPRA): Regula a avaliação e controle dos riscos ambientais no ambiente de trabalho.</li>
    
           <li><strong>NR 10</strong> - Segurança em Instalações e Serviços em Eletricidade: Estabelece diretrizes para a segurança em instalações elétricas.</li>
    
           <li><strong>NR 11</strong> - Transporte, Movimentação, Armazenagem e Manuseio de Materiais: Regula atividades que envolvem o transporte e manuseio de materiais.</li>
    
           <li><strong>NR 12</strong> - Máquinas e Equipamentos: Estabelece requisitos de segurança para máquinas e equipamentos.</li>
    
           <li><strong>NR 13</strong> - Caldeiras, Vasos de Pressão e Tubulações: Regula a segurança em caldeiras, vasos de pressão e tubulações.</li>
    
           <li><strong>NR 14</strong> - Fornos: Regulamenta a segurança em fornos.</li>
    
           <li><strong>NR 15</strong> - Atividades e Operações Insalubres: Define atividades insalubres e estabelece limites de exposição.</li>
    
           <li><strong>NR 16</strong> - Atividades e Operações Perigosas: Regula atividades perigosas e estabelece adicional de periculosidade.</li>
    
           <li><strong>NR 17</strong> - Ergonomia: Estabelece parâmetros que visam a adaptação das condições de trabalho às características psicofisiológicas dos trabalhadores.<li>
    
           <li><strong>NR 18</strong> - Condições e Meio Ambiente de Trabalho na Indústria da Construção: Regula as condições de segurança na construção civil.</li>
    
           <li><strong>NR 19</strong> - Explosivos: Regula o manuseio de explosivos.<li>
    
           <li><strong>NR 20</strong> - Segurança e Saúde no Trabalho com Inflamáveis e Combustíveis: Estabelece medidas de segurança para atividades com inflamáveis e combustíveis.</li>
    
           <li><strong>NR 21</strong> - Trabalhos a Céu Aberto: Regulamenta a segurança em trabalhos a céu aberto.</li>
    
           <li><strong>NR 22</strong> - Segurança e Saúde Ocupacional na Mineração: Regula a segurança na indústria de mineração.</li>
    
           <li><strong>NR 23</strong> - Proteção Contra Incêndios: Define medidas de proteção contra incêndios.</li>
    
           <li><strong>NR 24</strong> - Condições Sanitárias e de Conforto nos Locais de Trabalho: Regulamenta as condições sanitárias nos locais de trabalho.</li>
    
           <li><strong>NR 25</strong> - Resíduos Industriais: Estabelece diretrizes para o gerenciamento de resíduos industriais.</li>
    
           <li><strong>NR 26</strong> - Sinalização de Segurança: Define padrões para sinalização de segurança.</li>
    
           <li><strong>NR 27</strong>- Registro Profissional do Técnico de Segurança do Trabalho no MTB: Regulamenta o registro profissional do Técnico de Segurança do Trabalho.</li>
    
           <li><strong>NR 28</strong> - Fiscalização e Penalidades: Estabelece as penalidades relacionadas ao descumprimento das NRs.</li>
    
           <li><strong>NR 29</strong> - Norma Regulamentadora de Segurança e Saúde no Trabalho Portuário: Regula a segurança no trabalho portuário.</li>
    
           <li><strong>NR 30</strong> - Segurança e Saúde no Trabalho Aquaviário: Estabelece diretrizes para a segurança no trabalho aquaviário.</li>
    
           <li><strong>NR 31</strong> - Segurança e Saúde no Trabalho na Agricultura, Pecuária Silvicultura, Exploração Florestal e Aquicultura: Regulamenta a segurança no trabalho rural.</li>
    
           <li><strong>NR 32</strong> - Segurança e Saúde no Trabalho em Estabelecimentos de Saúde: Define requisitos de segurança para trabalhadores da saúde.</li>
    
           <li><strong>NR 33</strong> - Segurança e Saúde nos Trabalhos em Espaços Confinados: Regula a segurança em espaços confinados.</li>
    
           <li><strong>NR 34</strong> - Condições e Meio Ambiente de Trabalho na Indústria da Construção e Reparação Naval: Regula a segurança na indústria naval.</li>
    
           <li><strong>NR 35</strong> - Trabalho em Altura: Estabelece requisitos para o trabalho em altura.</li>
    
           <li><strong>NR 36</strong>NR 36 - Segurança e Saúde no Trabalho em Empresas de Abate e Processamento de Carnes e Derivados: Regulamenta a segurança em empresas de abate e processamento de carnes e derivados.</li>
    
          </ul>
        </div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
    </body>
    </html>