<h2>Carros disponíveis para locação</h2>
<hr>                                                      <!--Salta linha-->
<a href="/admin/categorias/add">                          <!--Link da rota de destino ao clicar no botão-->
<button class="btn btn-success">Nova categoria</button>   <!--Este botão faz com que se mude a rota de forma automática-->
</a>                                                      <!--Fim da tag do link-->
